.dropdown-mian-div{
    position: absolute;
    right: 15px;
    top: 53px;
    height: 400px;
    width: 280px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding-top: 40px;
    background-color: #fff;
}