.PH-main-div {
  margin: 60px 30px;

  .PH-header-div {
    display: flex;

    h2 {
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 0px;
    }

    .PH-current-month {
      display: flex;
      border: 1.5px solid #8f8f8f;
      height: 40px;
      border-radius: 7px;
      margin-right: 10px;
      margin-left: auto;
      // width: 300px;
      p {
        margin: 10px 0 10px 10px;
        color: #8f8f8f;
      }
      span {
        margin: 10px;
      }

      @media (max-width: 500px) {
        width: fit-content; 
        margin-left: 0;
        margin-bottom: 30px;
      }
    }

   

    .PH-summary {
      background-color: #1d871d;
      color: #fff;
      height: 30px;
      width: 170px;
      padding: 10px 0 0 20px;
      border-radius: 7px;
      font-weight: 500;

      &:hover {
        transform: translateY(-0.25em);
        transition-duration: 0.6s;
        -webkit-transform: translateY(-3px);
        background-color: #53d653;
      }
    }
  }
  @media (max-width: 500px) {
    .PH-header-div {
      display: block;
    }
  }
}


.current-month-div{
  position: relative;
  bottom: 460px;
  left: 1220px;
  background-color: #fff;
  z-index: 8;
}

@media (max-width: 500px) {
  .current-month-div{
    position: relative;
    bottom: 580px;
    left: 1px;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .current-month-div{
    position: relative;
    bottom: 460px;
    left: 562px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .current-month-div{
    position: relative;
    bottom: 460px;
    left: 225px;
  }
}